# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.cursor

# OS specific files
.DS_Store
Thumbs.db

# Sensitive env var
.env

# Client files
client/web/node_modules/
client/web/.vscode/
client/web/.env
client/web/dist/
client/web/build/
package-lock.json

# Server files
server/data/
server/logs/
server/logs/*
server/logs/*/*
